/* Reset y variables globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blanc: #FCFCFC;
  --gris: #E6E6E6;
  --rosa: #FF3366;
  --cyan: #00CCFF;
  --negre: #0A0A0A;
}

body {
  background-color: var(--negre);
  color: var(--blanc);
  font-family: 'Poppins', sans-serif;
}